In [6]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [7]:
batch1 = pd.read_csv("Batch_1_train_labels_clean.csv")
batch1.head()

                           image_name     category            subcategory
0     image_631246_product_984304.jpg     Nintendo  Jeux Game Boy Advance
1     image_659698_product_822774.jpg  PlayStation               Jeux PS1
2   image_1063831_product_1157144.jpg         SEGA          Master System
3   image_54547530_product_929584.jpg    PC Gaming                Jeux PC
4  image_62369530_product_2242928.jpg         SEGA                    NaN

In [8]:
batch2 = pd.read_csv("Batch_2_train_labels_clean.csv")
batch2.head()

                              image_name     category            subcategory
0   image_874729307_product_74244625.jpg    PC Gaming                Jeux PC
1   image_874730792_product_49132716.jpg     Nintendo  Jeux Game Boy Advance
2   image_874731199_product_74093483.jpg  PlayStation               Jeux PS3
3   image_874731370_product_49948298.jpg     Nintendo  Jeux Game Boy Advance
4  image_881487935_product_126111824.jpg     Nintendo       Jeux Nintendo DS

In [9]:
batch3 = pd.read_excel('image_labels_batch_3.xlsx', )
batch3.head()

,image_name,category,subcategory,json_format
0,"image_1117041866_product_1967323837.jpg,PlaySt...",NaN,NaN,NaN
1,"image_891835020_product_106117926.jpg,Sega,Dre...",NaN,NaN,NaN
2,"image_892937966_product_126159434.jpg,PC Gamin...",NaN,NaN,NaN
3,"image_901097569_product_144610449.jpg,PC Gamin...",NaN,NaN,NaN
4,"image_909281142_product_153775792.jpg,PlayStat...",NaN,NaN,NaN

In [10]:
batch4 = pd.read_excel('image_labels_batch_4.xlsx')
batch4.head()

   image_name   category  subcategory
0         NaN  PC Gaming  Jeux PC Mac
1         NaN  PC Gaming      Jeux PC
2         NaN  PC Gaming      Jeux PC
3         NaN  PC Gaming      Jeux PC
4         NaN  PC Gaming      Jeux PC

In [11]:
jeux = pd.concat([batch1,batch2,batch3,batch4])
jeux.head()

,image_name,category,subcategory,json_format
0,image_631246_product_984304.jpg,Nintendo,Jeux Game Boy Advance,NaN
1,image_659698_product_822774.jpg,PlayStation,Jeux PS1,NaN
2,image_1063831_product_1157144.jpg,SEGA,Master System,NaN
3,image_54547530_product_929584.jpg,PC Gaming,Jeux PC,NaN
4,image_62369530_product_2242928.jpg,SEGA,NaN,NaN

color palette nintendo :
 #fdfdfe 
	#cecdd3 
	#c42317
	#847f7e 
	#000000 	

color palette playstation:
#df0024 
	#f3c300 
	#00ab9f 
	#2e6db4 

color palette x box:
#ffffff 
	#77bb44 
	#2ca243 
	#107c10 
	#000000

color palette sega:
#17569b 
	#4578af
	#749ac3 
	#a2bbd7 
	#d1ddeb

color palette pc gaming:
#ffffff 
	#dedede 
	#0a4fa4 
	#020812 
	#fdd425

color palette vtech:
#205493
#003366

In [12]:
category_colors = {
    'Nintendo': '#c42317',       # Rouge
    'PlayStation': '#2e6db4',    # Bleu
    'Xbox': '#107c10',          # Vert
    'SEGA': '#17569b',          # Bleu foncé
    'PC Gaming': '#0a4fa4',
    'VTECH':'#003366'
}

# Compter le nombre d'occurrences par catégorie
category_counts = jeux['category'].value_counts()

# Appliquer les couleurs correspondantes
colors = [category_colors[cat] for cat in category_counts.index]

# Création du pie chart avec une meilleure esthétique
plt.figure(figsize=(8, 6))
wedges, texts, autotexts = plt.pie(
    category_counts, labels=category_counts.index, autopct='%1.1f%%',
    colors=colors, startangle=140, wedgeprops={'edgecolor': 'black', 'linewidth': 1.2}
)

# Personnalisation du texte pour plus de visibilité
for text in texts + autotexts:
    text.set_fontsize(12)
    text.set_color("black")
    text.set_weight("bold")

# Titre du graphique
plt.title("Répartition des Catégories de Produits", fontsize=14, fontweight="bold")
plt.show()

KeyError: 'Autre'